@import "../../variables-and-mixins";

section#shop {
  padding: 4rem 0;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @include respond(l) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(s) {
      grid-template-columns: 1fr;
      padding: 2rem 0 3rem;
      gap: 1rem;
    }
  }
}
